/*ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
} */

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div {
    display: block;
}

ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#s-content .text-component .content {
    word-wrap: break-word;
}

element.style {
    visibility: visible;
    opacity: 1;
}

.slides {
    margin: 0px;
    padding: 0px;
}

ul.slides li.slide {
    position: relative;
    outline: none;
}


#header-container {
    width: 100%;
    font-family: arial,sans-serif;
    position: fixed;
    z-index: 100;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    border-bottom: 1px solid #bbb\9;
}

*, *:before, *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
     }


#header-container .header .nav ul {
    position: relative;
    zoom: 1;
    text-align: center;
    width: 100%;
}

#header-container .header .nav li {
    display: inline;
    float: left;
    width: 25%;
}

#header-container .header .nav ul a {
    color: #567;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-right: 50px;
    font-family: 'gotham rounded',arial,sans-serif;
    font-size: 100%;
    font-weight: 500;
    padding: 50px 0;
}

#header-container .header .nav ul a:hover { 
    background-color: gray;
}


.navigator:before,
.navigator:after {
    content: "";
    display: table;
}

.navigator:after {
    clear: both;
}

h3 {
    text-align: center;
    color: white;
}
.wide.image .container .subtitle span.line {
    margin-top:20%;
    height: 2px;
    width: 100px;
    position: relative;
    top: -5px;
    display: inline-block;
    zoom: 1;
    /*float: none;*/
}

.wide.image .container .subtitle {
    font-size: 162%;
    font-family: 'Arapey',georgia,serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
}

.wide.image .container .title.big {
    font-size: 325%;
    text-align: center;
    color: white;
}

.wide.white-next .container {
    padding-bottom: 30px;
}

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.wide .container {
    padding-top: 40px;
    padding-bottom: 70px;
    position: relative;
    margin: 0 auto;
}

.wide .container .title {
    font-family: 'gotham rounded',arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    font-size: 238%;
    color: #333;
}

.wide .container .subtitle {
    font-family: 'gotham rounded',arial,sans-serif;
    text-shadow: 0 1px 0 #fff;
    font-size: 175%;
    margin-bottom: 10px;
    color: #678;
    font-weight: 500;
}

.wide .container .text3 {
    margin-bottom: 6px;
    line-height: 1.3;
    color: #5e9516;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}

.wide .container .text {
    margin-bottom: 6px;
    color: #555;
    line-height: 1.45;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

.wide .container #about_me_text {
    width: 286px;
    text-align: left;
    padding-top: 5px
}

.wide .container .no-float {
    display: inline-block;
    zoom: 1;
    float: none;
    vertical-align: top;
}

.wide .container .no-float.mb30:last-child {
    margin-bottom: 0;
}

.container .one.column, .container .one.columns {
    width: 38px;
}

.wide .container img {
    max-width: 100%;
    clear: both;
}

.wide {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-weight: 300;
}

.relative {
    position: relative;
}

.ib {
    display: inline-block;
    zoom: 1;
    float: none;
}

img {
    border: 0;
}

a.section-name-anchor, a.section-anchor {
    padding-top: 340px;
    margin-top: -340px;
     display: inline-block;
}

.anchor{
  /*display: block;*/
  height: 115px;
  margin-top: -115px;
  /*visibility: hidden;*/
}


.wide .container .imagecover .image-component, .wide .container .imagecover .content {
    width: 100%;
}

.wide .container .title span.line-abs.right {
    right: auto;
    left: 100%;
}

.job_title {
    color: #5e9516;
}

.wide .container .title span.line-abs {
    background: #333;
    box-shadow: 0 1px 0 rgba(255,255,255,0.75);
    height: 2px;
    width: 80px;
    margin: 0 10px;
    display: inline-block;
    zoom: 1;
    float: none;
    position: absolute;
    top: 50%;
    right: 100%;
}

/*.container .five.columns {
    width: 378px;
}*/

.container .offset-one {
    padding-left: 60px;
}

.wide .container .title2 {
    font-family: 'Arapey',georgia,serif;
    font-style: italic;
    text-shadow: 0 1px 0 #fff;
    font-size: 135%;
    color: #7a8fa3;
    font-weight: 500;
    line-height: 1.3;
}

.row.big {
    margin-bottom: 40px;
}


.container .five.columns {
    width: 278px;
}

/*.container .five.columns {
    width: 518px;
} */

/*.container .four.columns {
    width: 218px;
} */

.container .nine.columns {
    width: 518px;
}


/*
.container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 11px;
    margin-right: 11px;
}
*/

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after, .clearfix:after {
    clear: both;
}

.center {
    text-align: center;
}

.footer {
    color:black;
    clear:both;
    text-align:center;
    padding-top:5px; 
    padding-bottom:15px; 
}


.footer ul {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: -20px;
}

.footer li img{
    max-width: 45px;
    padding: 4px;
}

.footer li {
    display: inline;
    float: center;
    width: 5%;
}

.footer li a {
    text-decoration: none;
}

.left {
    width: 25%;
    height: 200px;
    float: left;
}

.right {
    margin-left: 30%;
    height: 200px;
}

.right a {
    color: gray;
}

.right a:link {
    text-decoration: none;
}

.left img{
    padding-left: 25%;
    max-width: 150px; 
    max-height: 150px;
}

